.home_faq {
    background-color: #fafafa;
    min-height: 500px;
    padding : 0 10%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4%;
}
.home_faq > h1 {
    padding :3%;
}
.home_faq > .faq_items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.home_faq > .faq_items > .faq_item {
    border-bottom: 1px solid #cfcdcd;
    margin : 2%;
    padding : 20px ; 
}
.home_faq > .faq_items > .faq_item > p {
    padding : 10px 0 ;
}


@media (max-width:426px) {
    .home_faq {
        padding : 0 5%;
        padding-bottom: 5%;
    }
}
@media (max-width:769px){
    .home_faq > .faq_items{
        grid-template-columns: repeat(1,1fr);
    }
}