/* .message_container {
    background-color:#EDEDED;
    width: 80%;
    max-height: 80vh;
    margin : 0 10%;
    display: grid;
    grid-template-rows: 60% 40%;
    
    
}
.message_input {
    position: absolute;
    bottom: 2%;
    left: 1%;
    right: 1%;
}

.message_contents {
    padding : 0 10%; 
   
    

}
 */
.message_container {
    background-color: #fafafa;
    min-height: 80vh;
    max-height: 80vh;
    display: grid;
    grid-template-rows: 88% 10%;
    padding : 1% 10%; 

}
.message_input > form {
    display :grid; 
    grid-template-columns: 80% 10%;
}
.message_contents  {
    height: 93%;
    background-color: white;
    margin: 1% 10%;
    border-radius: 10px;
    overflow-y: scroll;
}
.message_contents > .message_content {
    overflow: hidden;
}
.message_content > .message_sender { 
    display: flex;
    justify-content: flex-start;
}
.message_content > .message_sender > p {
    overflow: hidden; 
    background-color: white;
    padding : 1%; 
    margin :1% 20% 1% 1%; 
    border-radius: 5px;
}
.message_content > .message_receiver {
    display: flex;
    justify-content: flex-end;
}
.message_content > .message_receiver > p {
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    padding : 1% ; 
    margin : 1% 1% 1% 20%;
}